<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="./js/script.js"></script>
</head>
<body>
    <header>
        <div class="logo"><img src="https://canifa.com/assets/images/logo.svg" alt=""></div>
         <!-- Menu icons -->
        <i class='bx bx-menu' id="menu-icon"></i>    
        <ul class="nav-bar">
            <li><a href="">TRANG CHỦ </a></li>
            <li><a href="">SẢN PHẨM</a></li>
            <li><a href="">LIÊN HỆ</a></li>
            <li><a href="">GIỚI THIỆU</a></li>
        </ul>
        <div class="cart-item">
            <i class='bx bx-search-alt' id="search-icon" ></i>
            <i class='bx bx-cart-alt' id="cart-icon" ></i>
            <span class="number-cart">10</span>     
        </div>
        <div class="header-icon ">
            <i class='bx bxs-user-circle' ></i>
            <button class="account">My account</button>
        </div>
        <!-- OPEN FORM SEARCH -->
        <div class="search-form">
            <input type="search" placeholder="Tìm kiếm...">
        </div>
    </header>

   
        <!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Số Lượng</th>
                                <th>Tổng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="img/product/f1.jpg" alt="">
                                    <h5>Tên</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $55.00
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="number" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $110.00
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">Tiếp tục mua hàng</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Cập Nhật </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#" class="form">
                            <input type="text" class="discount" placeholder="Nhập mã giảm giá">
                            <button type="submit" class="site-btn">ÁP MÃ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng đơn hàng</h5>
                    <ul>
                        <li>Tạm tính: <span>$454.98</span></li>
                        <li>Tổng:  <span>$454.98</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Tiến hành thanh toán </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

    </section>

    <section id="newletter">
        <div class="newstext">
          <h4>Sign Up For Newslatters</h4>
          <p>Get E-mail updates about our latest shop and <span>specical offers</span> </p>
        </div>
        <div class="form">
          <input type="text" name="" id="" placeholder="Your E-mail address">
          <button class="normal">Sign Up</button>
        </div>
    </section>
    
    <section class="footer">
          <footer>
            <div class="col">
              <img src="" alt="">
              <h4>Contact</h4>
              <p><strong>Address:</strong> 18/4 Mỹ Huề , Trung Chánh Hóc Môn</p>
              <p><strong>Phone:</strong> (+84) 3770 812 / (+01) 1231 1231</p>
              <p><strong>Hours:</strong> 10:00 - 18:00. MON - SAT</p>
    
              <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                  <i class='bx bxl-facebook fb' ></i>
                  <i class='bx bxl-twitter twitter'></i>
                  <i class='bx bxl-instagram-alt instagram'></i>
                  <i class='bx bxl-youtube ytb' ></i>
                </div>
              </div>
            </div>
            <div class="col">
              <h4>About</h4>
              <a href="">About us</a>
              <a href="">Phỏng vấn</a>
              <a href="">Hoạt động của công ty</a>
              <a href="">Sự kiện </a>
            </div>
            <div class="col">
              <h4>My account</h4>
              <a href="">About us</a>
              <a href="">Phỏng vấn</a>
              <a href="">Hoạt động của công ty</a>
              <a href="">Sự kiện </a>
            </div>
            <div class="col">
              <h4>Intall app</h4>
              <p>Form app Store or Google Play</p>
              <div class="row">
                <img src="/layout/img/fixed/app.jpg" alt="">
                <img src="/layout/img/fixed/play.jpg" alt="">
              </div>
              <p>Secured Payment Geatways</p>
              <img class="pay" src="/layout/img/fixed/pay.png" alt="">
            </div>
          </footer>
          <div class="coppyright">
            <p>&copy; coppyright: PhamTheToan </p>
          </div>
    </section>
      <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
    <script>
        var MainImg = document.getElementById('MainImg');
        var smallimg=document.getElementsByClassName('smallimg');

        smallimg[0].onclick= function(){
            MainImg.src=smallimg[0].src;
        }
        smallimg[1].onclick= function(){
            MainImg.src=smallimg[1].src;
            
        }
        smallimg[2].onclick= function(){
            MainImg.src=smallimg[2].src;
            
        }
        smallimg[3].onclick= function(){
            MainImg.src=smallimg[3].src;
            
        }
        
    </script>
  <script src="./js/slide.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>
